*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


#produntos{
       display: flex;
    flex-wrap: wrap;
}

.produto{
    width: 200px;
    margin: 10px;
    border: 1px solid #8d5959;
    padding: 10px;
}

.produnto{
    width: 100%;
    

}

#carrinho{
    list-style: none;
    padding: 0;

}

#carrinho li {
    margin-bottom: 5px;
}